<tr class="line-item <%= line_item.variant.options_text %>" data-line-item-id="<%= line_item.id %>">
  <td class="product-name">
    <%= link_to "#{line_item.product.name} (Numéro du produit: #{"%02d" % (line_item.options[:product_line_index] + 1)})", spree.product_path(line_item.product) %>
    <br><%= line_item.variant.options_text %>

    <!-- Affichez l'index de la ligne du produit ici -->
    <br>Numéro du produit: <%= line_item.options[:product_line_index] + 1 %>

    <!-- Nouveau code pour afficher la date et le créneau horaire -->
    <% if line_item.date && line_item.time_slot %>
      <br>Date: <%= line_item.date.strftime("%d/%m/%Y") %>
      <br>Créneau horaire: <%= line_item.time_slot %>
    <% else %>
      <br>Date: Non renseignée
      <br>Créneau horaire: Non renseigné
    <% end %>
  </td>
  <td class="price"><%= display_price(line_item.price) %></td>
  <td class="qty">
    <%= line_item.quantity %>
  </td>
  <td class="total"><%= display_price(line_item.amount) %></td>
</tr>

<%= debug line_item.date %>
<%= debug line_item.time_slot %>
