<article class="order-item">
  <div class="order-item__image">
    <%= link_to(
      render(ImageComponent.new(
        image: item.variant.gallery.images.first || item.variant.product.gallery.images.first,
        size: :small
      )),
      item.variant.product
    ) %>
  </div>

  <%= render(
    'orders/item_info',
    line_item: item.variant.product,
    stock_info: false,
    variant: item.variant
  ) %>

  <!-- Nouveau code pour afficher la date et le créneau horaire -->
  <% if item.date.present? && item.time_slot.present? %>
    <div class="order-item__date">
      <strong>Date: <%= item.date %></strong>
      <strong>Créneau horaire: <%= item.time_slot %></strong>
    </div>
  <% else %>
    <div class="order-item__date">
      <strong>Date: Non renseignée</strong>
      <strong>Créneau horaire: Non renseigné</strong>
    </div>
  <% end %>

  <div class="order-item__price-single">
    <%= item.single_money.to_html %>
  </div>

  <div class="order-item__quantity">
    &#10005;<%= item.quantity %>
  </div>

  <div class="order-item__price">
    <strong><%= item.display_amount.to_html %></strong>
  </div>
</article>
